#programName{
    color: #774936;
}
form{
    font-family: Arial, sans-serif;
    color: #9d6b53;
    text-align: center;
    width: 400px;
    padding: 50px 15px 50px 15px;
    margin:auto;
    border-radius: 20px;
    box-shadow: 0px 0px 50px black;
}
#selectElements{
    text-align: left;
}
input{
    margin: 0px 10px 20px 40px;
}
label{
    font-size: 1.1em;
}
#sizeContainer{
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
}
#size{
    width: 40px;
    padding: 5px 0px 5px 10px;
    margin: 5px 0px 5px 40px;
}
#submitButton{
    color: white;
    font-weight: bold;
    background-color: #774936;
    padding: 10px 15px;
    margin: 20px auto 20px auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#submitButton:active{
    opacity: 0.7;
}
#result{
    cursor: text;
}

@media screen and (max-width: 600px) {
    form{
        width: 100%;
        margin: 0px;
        padding: 1% 0px;
    }
}